<h1>Customers#index</h1>
<p>
  <%= link_to "Alphabetized Customers", customers_alphabetized_path %> |
  <%= link_to "Customers Missing Email", customers_missing_email_path %>
</p>
<%= render @customers %>
